# Q1.

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data','Data Engineer']
duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [11]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q2.

"""
 - loc : 
    - loc is primarily label-based indexing, meaning that you use the actual labels of the index and columns to select data. It is inclusive of both the start and stop indices.
    
 - iloc : 
    - iloc is integer-location based indexing, and it is used when you want to access a group of rows and columns by integer position. It is exclusive of the stop index.
    
    
    """

In [17]:
new_df = df.reindex([3,0,1,2])

In [18]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [19]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [20]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

"""
 - Yeah , there's difference in both the outputs.
 - loc is labelled based indexing
 - iloc is integer location based indexing.
 
"""

# Q4.

In [22]:
import numpy as np

columns = ['column_1','column_2','column_3','column_4','column_5','column_6']
indices = [1,2,3,4,5,6]

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [23]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.317013  0.703714  0.203276  0.613538  0.557146  0.842089
2  0.377903  0.981643  0.664496  0.110976  0.207755  0.756048
3  0.602078  0.359350  0.647249  0.114877  0.787495  0.960312
4  0.023190  0.276299  0.860943  0.013986  0.045112  0.590341
5  0.046298  0.643201  0.487872  0.079799  0.439049  0.528111
6  0.817901  0.837246  0.415202  0.452625  0.582432  0.794173

In [24]:
df1.mean()

column_1    0.364064
column_2    0.633575
column_3    0.546506
column_4    0.230967
column_5    0.436498
column_6    0.745179
dtype: float64

In [27]:
df1['column_2'].std()

0.27220996656039653

# Q5.

In [28]:
df1.loc[2,'column_2'] = 'string'

In [29]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.317013  0.703714  0.203276  0.613538  0.557146  0.842089
2  0.377903    string  0.664496  0.110976  0.207755  0.756048
3  0.602078   0.35935  0.647249  0.114877  0.787495  0.960312
4  0.023190  0.276299  0.860943  0.013986  0.045112  0.590341
5  0.046298  0.643201  0.487872  0.079799  0.439049  0.528111
6  0.817901  0.837246  0.415202  0.452625  0.582432  0.794173

In [30]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

"""
 Calculating the mean of a column containig non-numeric data will result 
 in NaN values in the mean.
 
"""

# Q6.

"""
Window functions are used for performing calculations on a specified subset of data called a "window" that moves or rolls through the data.

 - rolling()
 - expanding()
 - ewm()
 
"""

# Q7.

In [32]:
from datetime import datetime
current_dt_time = datetime.now()

pd.to_datetime(current_dt_time)

Timestamp('2023-11-14 14:51:52.853474')

# Q8.

In [41]:
def cal_time(start_date,end_date):
    start_datetime = pd.to_datetime(start_date)
    end_datetime = pd.to_datetime(end_date)
    
    time_diff = end_datetime - start_datetime
    
    days = time_diff.days
    hours,remainder = divmod(time_diff.seconds,3600)
    minutes = divmod(remainder,60)
    return days , hours , minutes

s_date_input = input("Enter the start date : ")
e_date_input = input("Enter the end date : ")

days_diff , hours_diff , minutes_diff = cal_time(s_date_input,e_date_input)
print(f" Time difference : {days_diff} days, {hours_diff} hours , {minutes_diff} minutes.")

Enter the start date :  2022-01-02
Enter the end date :  2023-01-01

 Time difference : 364 days, 0 hours , (0, 0) minutes.

# Q9.

In [3]:
def convert_and_display_categorical(file_path, column_name, category_order):
        df = pd.read_csv(file_path)

        df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

        sorted_data = df.sort_values(by=column_name)
        print("\nSorted Data:")
        print(sorted_data)

file_path_input = input("Enter the CSV file path: ")
column_name_input = input("Enter the column name to convert to categorical: ")

category_order_input = input("Enter the category order (comma-separated): ")
category_order = category_order_input.split(',')

convert_and_display_categorical(file_path_input, column_name_input, category_order)

Enter the CSV file path:  services.csv
Enter the column name to convert to categorical:  id
Enter the category order (comma-separated):  3

Sorted Data:
     id  location_id  program_id         accepted_payments  \
0   NaN            1         NaN                       NaN
1   NaN            2         NaN                       NaN
2   NaN            3         NaN                       NaN
3   NaN            4         NaN                       NaN
4   NaN            5         NaN                       NaN
5   NaN            6         NaN                       NaN
6   NaN            7         NaN                       NaN
7   NaN            8         NaN                       NaN
8   NaN            9         NaN                       NaN
9   NaN           10         NaN                       NaN
10  NaN           11         NaN                       NaN
11  NaN           12         NaN                       NaN
12  NaN           13         NaN                       NaN
13  NaN           14         NaN                       NaN
14  NaN           15         NaN                       NaN
15  NaN           16         NaN                       NaN
16  NaN           17         NaN                       NaN
17  NaN           18         NaN                       NaN
18  NaN           19         NaN                       NaN
19  NaN           20         NaN                       NaN
20  NaN           21         NaN                       NaN
21  NaN           22         NaN  Cash, Check, Credit Card
22  NaN           22         NaN                       NaN

           alternate_name                                application_process  \
0                     NaN                         Walk in or apply by phone.
1                     NaN                 Apply by phone for an appointment.
2                     NaN        Phone for information (403-4300 Ext. 4322).
3                     NaN                                    Apply by phone.
4                     NaN                             Phone for information.
5                     NaN  Walk in or apply by phone for membership appli...
6                     NaN  Apply by phone or be referred by a doctor, soc...
7                     NaN                                    Apply by phone.
8                     NaN  Walk in. Proof of residency in California requ...
9                     NaN  Walk in. Proof of California residency to rece...
10                    NaN  Walk in. Proof of California residency require...
11                    NaN  Walk in or apply by phone, email or webpage re...
12                    NaN  Walk in. Proof of California residency require...
13                    NaN  Call for appointment. Referral from human serv...
14                    NaN          Walk in or through other agency referral.
15                    NaN  Walk in. Written application, identification r...
16                    NaN                              Call for information.
17                    NaN  Call for screening appointment. Medical visits...
18                    NaN     Call for screening appointment (650-347-3648).
19                    NaN                                           Walk in.
20                    NaN                    By phone during business hours.
21  Fotos para pasaportes                  Walk in or apply by phone or mail
22                    NaN                  Walk in or apply by phone or mail

                                             audience  \
0   Older adults age 55 or over, ethnic minorities...
1        Residents of San Mateo County age 55 or over
2   Older adults age 55 or over who can benefit fr...
3   Parents, children, families with problems of c...
4   Low-income working families with children tran...
5                                             Any age
6   Older adults who have memory or sensory loss, ...
7   Senior citizens age 60 or over, disabled indiv...
8      Ethnic minorities, especially Spanish speaking
9                                                 NaN
10                                                NaN
11  Adults, parents, children in 1st-12th grades i...
12                                                NaN
13  Individuals or families with low or no income ...
14  Adult alcoholic/drug addictive men and women w...
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21  Profit and nonprofit businesses, the public, m...
22  Second service and nonprofit businesses, the p...

                                          description  \
0   A walk-in center for older adults that provide...
1   Provides training and job placement to eligibl...
2   Offers supportive counseling services to San M...
3   Provides supervised visitation services and a ...
4   Provides fixed 8% short term loans to eligible...
5   A multipurpose center offering a wide variety ...
6   Rosener House is a day center for older adults...
7   Delivers a hot meal to the home of persons age...
8   Provides general reading material, including b...
9   Provides general reading and media materials, ...
10  Provides general reading materials, including ...
11  Offers an intergenerational literacy program f...
12  Provides general reading materials, including ...
13  Provides food, clothing, bus tokens and shelte...
14  Provides a long-term (6-12 month) residential ...
15  Provides emergency assistance including food a...
16  Provides emergency food, clothing and furnitur...
17  By appointment only, Project Smile provides a ...
18  Provides free medical and dental care to those...
19              no unrequired fields for this service
20                                just a test service
21  [NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...
22  [NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...

                                          eligibility                  email  \
0   Age 55 or over for most programs, age 60 or ov...                    NaN
1   Age 55 or over, county resident and willing an...                    NaN
2         Resident of San Mateo County age 55 or over                    NaN
3                                                None                    NaN
4   Eligibility: Low-income family with legal cust...                    NaN
5                                                None                    NaN
6                                      Age 18 or over                    NaN
7             Homebound person unable to cook or shop                    NaN
8     Resident of California to obtain a library card                    NaN
9             Resident of California to obtain a card                    NaN
10  Resident of California to obtain a library car...                    NaN
11  English-speaking adult reading at or below 7th...                    NaN
12    Resident of California to obtain a library card                    NaN
13  None for most services. For emergency assistan...                    NaN
14  Age 21-60, detoxed, physically able and willin...                    NaN
15                      None for emergency assistance                    NaN
16                                Low-income families                    NaN
17    Low-income person without access to health care                    NaN
18    Low-income person without access to health care                    NaN
19                                                NaN                    NaN
20                                                NaN                    NaN
21                                               None  passports@example.org
22                                               None                    NaN

    ...                            interpretation_services  \
0   ...                                                NaN
1   ...                                                NaN
2   ...                                                NaN
3   ...                                                NaN
4   ...                                                NaN
5   ...                                                NaN
6   ...                                                NaN
7   ...                                                NaN
8   ...                                                NaN
9   ...                                                NaN
10  ...                                                NaN
11  ...                                                NaN
12  ...                                                NaN
13  ...                                                NaN
14  ...                                                NaN
15  ...                                                NaN
16  ...                                                NaN
17  ...                                                NaN
18  ...                                                NaN
19  ...                                                NaN
20  ...                                                NaN
21  ...  We offer 3-way interpretation services over th...
22  ...                                                NaN

                                             keywords languages  \
0   ADULT PROTECTION AND CARE SERVICES, Meal Sites...       NaN
1   EMPLOYMENT/TRAINING SERVICES, Job Development,...       NaN
2   Geriatric Counseling, Older Adults, Gay, Lesbi...       NaN
3   INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...       NaN
4      COMMUNITY SERVICES, Speakers, Automobile Loans       NaN
5   ADULT PROTECTION AND CARE SERVICES, In-Home Su...       NaN
6   ADULT PROTECTION AND CARE SERVICES, Adult Day ...       NaN
7   ADULT PROTECTION AND CARE SERVICES, Meal Sites...       NaN
8   EDUCATION SERVICES, Library, Libraries, Public...       NaN
9   EDUCATION SERVICES, Library, Libraries, Public...       NaN
10  EDUCATION SERVICES, Library, Libraries, Public...       NaN
11  EDUCATION SERVICES, Adult, Alternative, Litera...       NaN
12  EDUCATION SERVICES, Library, Libraries, Public...       NaN
13  COMMUNITY SERVICES, Interpretation/Translation...       NaN
14  ALCOHOLISM SERVICES, Residential Care, DRUG AB...       NaN
15  COMMODITY SERVICES, Clothing/Personal Items, C...       NaN
16  COMMODITY SERVICES, Clothing/Personal Items, C...       NaN
17  HEALTH SERVICES, Outpatient Care, Community Cl...       NaN
18  HEALTH SERVICES, Outpatient Care, Community Cl...       NaN
19                                                NaN       NaN
20                                                NaN       NaN
21                                    Salud, Medicina   Spanish
22         Ruby on Rails/Postgres/Redis, testing, wic       NaN

                                    name  \
0        Fair Oaks Adult Activity Center
1       Second Career Employment Program
2                 Senior Peer Counseling
3               Family Visitation Center
4      Economic Self-Sufficiency Program
5   Little House Recreational Activities
6       Rosener House Adult Day Services
7         Meals on Wheels - South County
8                       Fair Oaks Branch
9                           Main Library
10                       Schaberg Branch
11                          Project Read
12                 Redwood Shores Branch
13                    Redwood City Corps
14           Adult Rehabilitation Center
15                       Sunnyvale Corps
16     South San Francisco Citadel Corps
17                         Project Smile
18         San Mateo Free Medical Clinic
19             Service with blank fields
20       Service for Admin Test Location
21                       Passport Photos
22                  Example Service Name

                          required_documents  \
0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN
5                                        NaN
6                                        NaN
7                                        NaN
8                                        NaN
9                                        NaN
10                                       NaN
11                                       NaN
12                                       NaN
13                                       NaN
14                                       NaN
15                                       NaN
16                                       NaN
17                                       NaN
18                                       NaN
19                                       NaN
20                                       NaN
21  Government-issued picture identification
22                                       NaN

                            service_areas    status  \
0                                   Colma    active
1                        San Mateo County    active
2                        San Mateo County    active
3                        San Mateo County    active
4                        San Mateo County    active
5                        San Mateo County    active
6     Belmont, Burlingame, East Palo Alto    active
7                 Belmont, East Palo Alto    active
8                        San Mateo County    active
9                        San Mateo County    active
10                       San Mateo County    active
11                              Daly City    active
12                       San Mateo County    active
13    Belmont, Burlingame, East Palo Alto    active
14       Alameda County, San Mateo County    active
15                                    NaN    active
16  Colma, Daly City, South San Francisco    active
17                         East Palo Alto    active
18                    Belmont, Burlingame    active
19                                    NaN   defunct
20                       San Mateo County  inactive
21       Alameda County, San Mateo County    active
22       San Mateo County, Alameda County    active

                                            wait_time                 website  \
0                                            No wait.                     NaN
1                                             Varies.                     NaN
2                                             Varies.                     NaN
3                                            No wait.                     NaN
4                                                 NaN                     NaN
5                                            No wait.                     NaN
6                                            No wait.                     NaN
7                                            No wait.                     NaN
8                                            No wait.                     NaN
9                                            No wait.                     NaN
10                                           No wait.                     NaN
11  Depends on availability of tutors for small gr...                     NaN
12                                           No wait.                     NaN
13                                  Up to 20 minutes.                     NaN
14  Varies according to available beds for men and...                     NaN
15                                           No wait.                     NaN
16                                                NaN                     NaN
17                                            Varies.                     NaN
18                                            Varies.                     NaN
19                                                NaN                     NaN
20                                                NaN                     NaN
21                                No wait to 2 weeks.  http://www.example.com
22                                 No wait to 2 weeks  http://www.example.com

                                taxonomy_ids
0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN
5                                        NaN
6                                        NaN
7                                        NaN
8                                        NaN
9                                        NaN
10                                       NaN
11                                       NaN
12                                       NaN
13                                       NaN
14                                       NaN
15                                       NaN
16                                       NaN
17                                       NaN
18                                       NaN
19                                       NaN
20                                       NaN
21  105, 108, 108-05, 108-05-01, 111, 111-05
22                                       NaN

[23 rows x 22 columns]

# Q10.

In [ ]:
import matplotlib.pyplot as plt

file_path_input = input("Enter the CSV file path containing sales data: ")
df = pd.read_csv(file_path_input)

pivot_df = df.pivot(index='Date', columns='Product Category', values='Sales')

pivot_df.plot(kind='bar', stacked=True, figsize=(10, 6))

plt.title('Sales Data by Product Category Over Time')
plt.xlabel('Date')
plt.ylabel('Sales')
plt.legend(title='Product Category')


plt.show()

# Q11.

In [4]:
pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from tabulate import tabulate  
file_path = input("Enter the file path of the CSV file containing student data: ")

df = pd.read_csv(file_path)

 
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_scores = df['Test Score'].mode()

  
result_table = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]
})

print("\n" + tabulate(result_table, headers='keys', tablefmt='fancy_grid', showindex=False))